/* Footer design */
#footer{
  background-color: #333333;
  padding: 30px 20px 20px 20px;
}
#footer p{
  color: white;
}
.fa {
    display: inline-block;
    font: normal normal normal 15px/1 FontAwesome;
    font-size: 30px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    color: grey;
    &:hover{
      color: yellow;
    }
}
