<div class="container text-center padded features">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag "globe.png" %>
      <h3><strong>Discover the world</strong></h3>
      <p>The earth is your new home.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag "dollar.png" %>
      <h3><strong>Pay online</strong></h3>
      <p>No cash issues anymore.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag "beer.png" %>
      <h3><strong>Meet people</strong></h3>
      <p>Discover new culture and lifestyle.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag "heart.png" %>
      <h3><strong>Share and love</strong></h3>
      <p>Join a community you will love.</p>
    </div>
  </div>
</div>
