---
title: Le Wagon Middleman boilerplate
---
<div class="banner" >
  <div class="banner-content" style="position: absolute; top: 200px; text-align: center; left: 0; right: 0; buttom: 0; z-index: 2; ">
    <h1 class="titleh1">WELCOME TO MY TRAVEL</h1>
    <p class="pcontent">Explore More About TRAVEL.</p>
    <form action="#" class="form-inline">
      <input type="text" class="form-control input-lg" placeholder="checkin">
      <input type="text" class="form-control input-lg" placeholder="checkout">
      <select name id class="form-control input-lg">
        <option value="1">1 person</option>
        <option value="2">2 persons</option>
        <option value="3">3 persons</option>
      </select>
      <input type="submit" class="btn btn-primary btn-lg" value="search">
    </form>
  </div>
  <video autoplay loop poster="" id="bgvid" style="height:100%; object-fit: cover;">
      <source src="video/india.mp4" type="video/mp4">
  </video>
</div>
<%= partial "features" %>
<%= partial "cards" %>
<%= partial "map" %>
