<div class="container text-center padded">
  <h3>Our Team</h3>
  <div class="container">
    <div class="row">
      <% data.team.each do |member, infos| %>
        <div class="col-md-4">
          <div class="card">
            <%= image_tag infos.picture, class: "img-circle img-size" %>
            <h3 class="font-avatar"><%= member.capitalize %></h3>
            <!-- <p><%= infos.role %></p> -->
          </div>
        </div>
      <% end %>
    </div>
    <h3 class="padded">
      <a href="mailto:contact@airbnb.com">
        <i class="fa fa-envelope"></i> contact@airbnb.com
      </a>
    </h3>
  </div>
</div>
